header {
    background-color: black;
    width: 100%;
    padding-right: 100px;
}
.navbar nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    list-style-type: none;
    background-color: none;
    padding: 0px;
    margin: 0px;
    margin-left: auto;    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display:block;
}
.navbar li{
    margin-left: 15px;
}

.navbar a:hover{
    background-color: hwb(0 16% 81%);
    text-decoration: underline;
    color: #d1a95f;
}

.logo{
    width: 100px;
    background-blend-mode: lighten;
    opacity: 20%;
    position: relative;
    display: block;
    margin: 0%;
    padding: 0%;
}
main{
    padding-top: 120px;
}
#Logo{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}