* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
}

header {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 min-width: 100%;
 background: linear-gradient(rgba(10, 10, 10, .8) 40%, rgb(34, 34, 34) 90%);
}

.navbar{
    display: flex;
    align-items:center;
    justify-content: center;
    gap:15px;
}
#Logo {
    width: 70px; /* Adjust logo size */
    height: auto;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;  /* Remove padding */
    margin: 0;   /* Remove margin */
justify-content: space-evenly;
}

.navbar li {
    margin-left: 15px;  /* Space between items */
    font-family: "Libre Bodoni";

}

.navbar li a {
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.navbar li a:hover {
    color: #d1a95f;
}


main {
    padding-top: 100px;
}


h1:hover {
    color: beige;
}

main div h1 {
    font-size: 100px;
}
